<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="text-center p-5">Rejestracja</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="firstName">Imie</label>
            <input id="firstName" type="text" formControlName="firstName" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && field.firstName.errors }"/>
            <div *ngIf="submitted && field.firstName.errors" class="invalid-feedback">
              <div *ngIf="field.firstName.errors.required">Imie jest wymagane</div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Nazwisko</label>
            <input id="lastName" type="text" formControlName="lastName" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && field.lastName.errors }"/>
            <div *ngIf="submitted && field.lastName.errors" class="invalid-feedback">
              <div *ngIf="field.lastName.errors.required">Nazwisko jest wymagane</div>
            </div>
          </div>
          <div class="form-group">
            <label for="username">Nazwa użytkownika</label>
            <input id="username" type="text" formControlName="username" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && field.username.errors }"/>
            <div *ngIf="submitted && field.username.errors" class="invalid-feedback">
              <div *ngIf="field.username.errors.required">Nazwa użytkownika jest wymagana</div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Adres e-mail</label>
            <input id="email" type="text" formControlName="email" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && field.email.errors }"/>
            <div *ngIf="submitted && field.email.errors" class="invalid-feedback">
              <div *ngIf="field.email.errors.required">Adres e-mail jest wymagany</div>
              <div *ngIf="field.email.errors.email">Adres e-mail jest niepoprawny</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Hasło</label>
            <input id="password" type="password" formControlName="password" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && field.password.errors }"/>
            <div *ngIf="submitted && field.password.errors" class="invalid-feedback">
              <div *ngIf="field.password.errors.required">Hasło jest wymagane</div>
              <div *ngIf="field.password.errors.minlength">Hasło musi składać się minimum z 6 znaków</div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Powtórz hasło</label>
              <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && field.confirmPassword.errors }"/>
              <div *ngIf="submitted && field.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="field.confirmPassword.errors.required">Hasło potwierdzające jest wymagane</div>
                <div *ngIf="field.confirmPassword.errors.mustMatch">Hasło nie jest takie samo jak poprzednie</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Zarejestruj
            </button>
            <a routerLink="/login" class="btn btn-link">Anuluj</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
