<div class="container justify-content-around">
  <div class="row align-self-center">
    <div class="col-sm-6 offset-sm-3">
      <h2 class="text-center p-5">Zmiana hasła</h2>
      <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
        <div class="form-group">
          <label for="email">Adres e-mail</label>
          <input [ngClass]="{ 'is-invalid': submitted && field.email.errors }" class="form-control" formControlName="email" id="email"
                 type="text"/>
          <div *ngIf="submitted && field.email.errors" class="invalid-feedback">
            <div *ngIf="field.email.errors.required">Adres e-mail jest wymagany</div>
            <div *ngIf="field.email.errors.email">Adres e-mail jest niepoprawny</div>
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword">Nowe Hasło</label>
          <input [ngClass]="{ 'is-invalid': submitted && field.newPassword.errors }" class="form-control" formControlName="newPassword" id="newPassword"
                 type="password"/>
          <div *ngIf="submitted && field.newPassword.errors" class="invalid-feedback">
            <div *ngIf="field.newPassword.errors.required">Hasło jest wymagane</div>
            <div *ngIf="field.newPassword.errors.minlength">Hasło musi składać się minimum z 6 znaków</div>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Powtórz nowe hasło</label>
            <input [ngClass]="{ 'is-invalid': submitted && field.confirmPassword.errors }" class="form-control" formControlName="confirmPassword" id="confirmPassword"
                   type="password"/>
            <div *ngIf="submitted && field.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="field.confirmPassword.errors.required">Hasło potwierdzające jest wymagane</div>
              <div *ngIf="field.confirmPassword.errors.mustMatch">Hasło nie jest takie samo jak poprzednie</div>
            </div>
          </div>
        </div>
        <div [hidden]="true" class="form-group">
          <label for="confirmationToken">token</label>
          <input [ngClass]="{ 'is-invalid': submitted && field.confirmationToken.errors }" class="form-control" formControlName="confirmationToken" id="confirmationToken"
                 type="text"/>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Zmień
          </button>
          <a class="btn btn-link" routerLink="/login">Anuluj</a>
        </div>
      </form>
    </div>
  </div>
</div>
